@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F8F4EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #F8F4EB;
  }
}

body {
  background: var(--bg-color);
  padding: 0;
  margin: 0;
}

